.Hero {
    margin-left: 40px;
    display: flex;
    gap: 20px;

    .left {
        .top {
            background: red;

            .left {
                background: var(--transparent);
                border-radius: 10px;


                .temp {
                    display: flex;
                    align-items: center;

                    h1 {
                        font-size: 4rem;
                    }
                }

            }

            .right {
                background: var(--transparent);
                border-radius: 10px;
                height: 600px;
                width: 100%;
            }
        }
    }

    .right {
        background: var(--secondary);
        // width: 100px;
        padding: 20px;
    }
}