.Hero {
    padding-right: 40px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    .left {
        width: 60%;

        .top {
            padding: 20px 0 20px 20px;
            display: flex;
            justify-content: space-between;
            height: 200px;

            .current-wether {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h1 {
                    font-size: 6rem;
                }
            }

            .wether-icon {}
        }
    }

    .right {
        background: var(--secondary);
        border-radius: 20px;
        width: 40%;
        padding: 30px;

        .container{
            background: red;

            .row{
                border-bottom: 1px solid var(--secondary);
            }
        }
    }
}