.Body {
    position: absolute;
    top: 12px;
    left: 60px;
    height: 100lvh;
    width: calc(100% - 120px);
    transition: var(--tran-05);
    padding: 10px;

    .Navbar {
        // background: var(--secondary);
        height: 70px;
        margin: 10px 10px;
        padding: 0 30px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            .title {
                background: var(--secondary);
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 10px;
                max-width: 600px;
                color: var(--primary);
                gap: 10px;

                .icon {
                    font-size: 24px;
                }

                input {
                    font-size: 16px;
                    height: 30px;
                    outline: none;
                    background: transparent;
                    border: none;
                    color: var(--primary);
                }
            }
        }

        .right {
            span {
                display: flex;
                background: var(--secondary);
                align-items: center;
                padding: 15px;
                gap: 10px;
                border-radius: 20px;
                color: var(--primary);

                .icon{
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .Sidebar {
        display: none;        
    }

    .Body {
        left: 0;
        width: 100%;
        .Navbar {
            padding: 0px 10px;

            .left {
                .title {
                    font-size: 14px;
                }
            }
            .right{
                display: flex;
                span{
                    margin-right: 10px;
                    // padding: 10px;
                    border-radius: 50%;
                    .icon{
                        font-size: 28px;
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
    }
}